<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAssembly Example</title>
    <script src="/static/wasm/lexi.js"></script>
</head>
<body>
    <h1>WebAssembly Example</h1>
    <p>Result of 5 + 7: <span id="result"></span></p>

    <script>
        class Lexi {
            constructor() {
                this.module = this.initModule()
            }

            initModule = () => {
                // load wasm module
                createModule()
                .then(Module => {
                    console.error( "Lexi WASM module loaded" )
                    this.module = Module
                }).catch(err => {
                    console.error( "Failed to load Lexi WASM module", err )
                })
            }

            ensureModuleLoaded = (callback) => {
                if ( this.module ) {
                    callback()
                } else {
                    // load wasm module
                    createModule()
                    .then(Module => {
                        console.error( "Lexi WASM module loaded" )
                        this.module = Module
                        callback()
                    }).catch(err => {
                        console.error( "Failed to load Lexi WASM module", err )
                    })
                }
            }

            add = () => {
                this.ensureModuleLoaded( () => {
                    const result = this.module._add(5, 7);
                    document.getElementById('result').textContent = result;
                })
            }
        }

        const lexi = new Lexi()
        lexi.add()

        // callback function
        /*
        function tryMe(param1, param2) {
        alert(param1 + " and " + param2);
        }

        // callback executer 
        function callbackTester(callback) {
        callback();
        }

        // test function
        callbackTester(function() {
        tryMe("hello", "goodbye");
        });*/

        /*
        createModule()
        .then(Module => {
            console.log("Lexi loaded successfully");
        
            const result = Module._add(5, 7);
            document.getElementById('result').textContent = result;
        }).catch(err => {
            console.error("Failed to load Lexi WASM module", err);
        })*/

        
    </script>
</body>
</html>